main > .container {
    padding: 70px 15px 20px;
}
.boxprincipal {
    
    width: 1200px;
    height: 1000px;
    border: 3px solid black;
    border-radius: 22px;
    padding-top: 50px;
    padding-left: 50px;
    
}

.boxprincipal2 {
    
   
  position: relative;
  width: 196.11px;
  height: 131px;
  left: 84px;
  padding-top: 63px;

     
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.colornavbar {
    background-color: #11264D !important; 
     text-align: center;
}
.alturaminima{

    height: 160px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #999;
    
}

.tarjeta{
     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
    
}




.tarjetaNueva{
    
    position: absolute;
    width: 246px;
    height: 71px;
    left: 298px;
    top: 286px;
    background: #11264D;
    border-radius: 20px;
}

.tarjetaNueva2{
    
    position: absolute;
    width: 183px;
    height: 71px;
    left: 550px;
    top: 286px;
    background: #11264D;
    border-radius: 20px;
}

.tarjetaNueva3{
    
    position: absolute;
    width: 338px;
    height: 71px;
    left: 749px;
    top: 286px;
    background: #11264D;
    border-radius: 20px;
}

.tarjetaNueva4{
    
    position: absolute;
    width: 192px;
    height: 71px;
    left: 1214px;
    top: 286px;
    background: #11264D;
    border-radius: 20px;
}

.tarjetaCliente1{
    
    position: absolute;
    width: 140px;
    height: 160px;
    left: 298px;
    top: 392px;
    background: #11264D;
    border-radius: 20px;
}

.tarjetaCliente2{
    
    position: absolute;
    width: 140px;
    height: 160px;
    left: 455px;
    top: 392px;
    background: #11264D;
    border-radius: 20px;
}

.tarjetaCliente3{
    
    position: absolute;
    width: 140px;
    height: 160px;
    left: 612px;
    top: 392px;
    background: #11264D;
    border-radius: 20px;
}

.tarjetaCliente4{
    
    position: absolute;
    width: 140px;
    height: 160px;
    left: 767px;
    top: 392px;
    background: #11264D;
    border-radius: 20px;
}

.imagenAñadir{
     position: absolute;
    width: 60px;
    height: 60px;
    left: 954px;
    top: 450px;
    background: #ffffff;
    border-radius: 20px;
}

.zoom {
  transition: transform .2s; /* Animation */
}
.blanco{
    color: white;
}

.azul{
    color: #11264D;
}
.tarjetanum{
    
     background: #ffffff;
    border-radius: 80px;
}
